/* Default values for extremely small screens- foldables */
:root {
    --text: #292b2b;
    --background: #eee;
}

html, body {
    width: 100vw;
    height: 100vh;
    margin: 0px;
    padding: 0px;

    font-family: 'Times New Roman', Times, serif;
    font-size: calc(0.75em + 1vmin);
    color: var(--text);
    background-color: var(--background);

    display: flex;
    justify-content: center;
    align-items: center;

    scroll-behavior: smooth !important;
}

header {
    color: var(--text);
    background-color: var(--background);
    width: 100%;
    padding: 7px 10px;
    border-bottom: 1px solid #ddd;
    
    display: flex;
    align-items: center;
    justify-content: flex-end;
    column-gap: 10px;

    position: fixed;
    top: 0;
    left: 0;
}

header img {
    width: 25px;
}

img { 
    border-radius: 15px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: BelgianoSerif, 'Times New Roman', Times, serif;
}

canvas {
    width: 200px;
    height: auto;
    margin-bottom: 30px;
}

#root {
    width: 70%;
    height: 100%;

    display: flex;
    justify-content: flex-end;
    align-items: center;

    flex-direction: column;
    row-gap: 10px;
    user-select: none;
}

#scrollable {
    height: 65%;
    overflow: scroll;
    overflow: -moz-scrollbars-none;
}

#scrollable::-webkit-scrollbar {
    width: 0px;
    background: transparent; /* make scrollbar transparent */
}

.caption {
    display: block;
    font-size: 1.125rem;
}

.button {
    opacity: 0.6;
    transition-duration: 0.5s;
    text-decoration: none;
    font-weight: bold;
    font-family: BelgianoSerif, 'Times New Roman', Times, serif;
}

.button:visited {
    color: currentColor;
}

.button:hover {
    opacity: 0.8;
}

.no-margin {
    margin: 0px;
}

.low-margin {
    margin: 5px 0px;
}

.center {
    text-align: center;
}

.spacer {
    margin: 300px 0 250px 0;
}

.hidden {
    visibility: hidden;
}

/* portrait smartphones */
@media screen and (min-width: 300px) {
    canvas {
        width: 200px;
    }
}

/* portrait tablets or desktops */
@media screen and (min-width: 600px) {
    #root {      
        width: 60%;
        flex-direction: row;
    }

    canvas {
        width: 250px;
    }

    header img {
        width: 20px;
    }

    .hero {
        margin: 120px 0 250px 0;
        text-align: center;
    }
}

@font-face {
    font-family: BelgianoSerif;
    src: url("fonts/BelgianoSerif2.otf"), url("fonts/BelgianoSerif2.ttf");
}