:root {
    --text-color: #ededed;
    --background-color: #00008b;
}

/* 
 * Remove the blue box when tapping on elements on mobile, happens 
 * when tapping on an element with cursor:pointer;
 */
/*
* {
  -webkit-tap-highlight-color: transparent;
}
*/

html, body {
    color: var(--text-color);
    max-width: 100%;
    height: 100vh;
    font-size: 12px;

    margin: 0;
    padding: 0;
    overflow-x: hidden;

    font-family: Arial;
    background-color: var(--background-color);
    scroll-behavior: smooth;
}

a, a:visited {
    color: var(--text-color);
}

.hero {
    width: 100%;
    height: 250px;
    margin-top: 150px;

    display: flex;
    justify-content: center;
    align-items: center;
    /*background: rgba(20, 20, 20, 0.5);*/
}

.hero .content {
    font-family: Archive;
    font-size: 3rem;
    text-align: center;

    padding: 20px;
    border: 5px solid var(--text-color);
}

.section {
    font-family: Archive;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
}

.section .content {
    max-width: 65%;
}

.loader-layer, .content-layer, .cover-layer, .gradient-layer {
    position: fixed;
    top: 0;
    left: 0;
}

.loader-layer {
    width: 100vw;
    height: 100vh;
    background-color: var(--background-color);
}

.loader-layer > div {
     position: absolute;
     top: 50%;
     left: 50%;
     transform: translate(-50%, -50%);
}

.content-layer {
    position: fixed;
    z-index: 3;
    width: 100vw;
    height: 100vh;
}

.cover-layer {
    z-index: 2;
}

.gradient-layer {
    width: 100vw;
    height: 100vh;
    z-index: 1;
}

.gradient-layer {
  background: linear-gradient(300deg,deepskyblue,darkviolet,blue);
  background-size: 180% 180%;
  animation: gradient-animation 1s ease infinite;
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@media (min-width: 480px) {
    html, body {
        font-size: 18px;
    }
    
    .hero .content {
        font-size: 4rem;
    }
    
    .section .content {
        max-width: 50%;
    }
} 

@font-face {
    font-family: Archive;
    src: url(fonts/Archive-Regular.ttf);
}
