@import "tailwindcss";

:root {
    font-family: monospace;
}

.border-gradient-green {
    --angle: 0deg;
    /* … */
    border-image: linear-gradient(var(--angle), green, yellow) 1;
    animation: 10s rotate linear infinite;
}

.border-gradient-blue {
    --angle: 0deg;
    /* … */
    border-image: linear-gradient(var(--angle), aquamarine, blueviolet) 1;
    animation: 10s rotate linear infinite;
}

@keyframes rotate {
    to {
        --angle: 360deg;
    }
}

@property --angle {
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}

*::-webkit-scrollbar {
    height: 5px;
    width: 5px;
}

*::-webkit-scrollbar-track {
    border-radius: 5px;
    background-color: #2d2d2d;
    border: 6px solid #2d2d2d;
}

*::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: #5f5f5f;
}

.ready-process, .running-process {
    opacity: 100%;
}

.waiting-process, .exit-process {
    opacity: 25%;
}